pkgbase = linvst
	pkgdesc = enables Windows vst's to be used as Linux vst's in Linux vst capable DAW's
	pkgver = 2.5.r27.4856b28
	pkgrel = 1
	url = https://github.com/osxmidi/LinVst
	arch = x86_64
	makedepends = git
	depends = wine
	source = git+https://github.com/osxmidi/LinVst.git
	source = w2lvst
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linvst

