pkgbase = linvst
	pkgdesc = enables Windows vst's to be used as Linux vst's in Linux vst capable DAW's
	pkgver = 2.5
	pkgrel = 1
	url = https://github.com/osxmidi/LinVst
	arch = x86_64
	makedepends = git
	depends = wine
	source = https://github.com/osxmidi/LinVst/releases/download/2.5/LinVst-2.51-Debian-Stretch.zip
	source = w2lvst
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linvst

